
{% extends 'heritage/heritage.html.twig' %}
   {% block path5 %}
   {% endblock %}

{% block title %}Register{% endblock %}

{% block formDocument %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    {% block aboutDocument %}{% endblock %}

    <h1>Register</h1>
    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.fullname) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    <P>By accessing or using our website Manara.tn , you agree to be bound by our  Conditions. <br>
    If you disagree with any part of these terms, please do not use our website.</P>

    {{ form_end(registrationForm) }}
{% endblock %}