<div class="modal fade" id="campaignModal{{ loop.index }}" tabindex="-1" aria-labelledby="campaignModalLabel{{ loop.index }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="campaignModalLabel{{ loop.index }}">{{ campaign.CampaignName }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Image -->
                <img src="{{ asset('assets/img/portfolio/Campaign1.jpg') }}" class="img-fluid mb-3" alt="{{ campaign.CampaignName }}">
                <!-- Description -->
                <p>{{ campaign.Description }}</p>
                <!-- You can add more fields as needed -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>