
{# templates/createcampaign/index.html.twig #}

{% extends 'heritage/heritage.html.twig' %}

{% block title%}Create Campaign{% endblock %}

{% block path1 %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('PrivatePage') }}">Home</a></li>
{% endblock %}
{% block path2 %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('createcampaign') }}">Create Campaign</a></li>
{% endblock %}
{% block path3 %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Profile</a></li>
{% endblock %}
{% block path4 %}
    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ path('main') }}">Log out </a></li>
{% endblock %}

{% block body %}
    <h1>Create a New Campaign</h1>
    {{ form_start(form) }}
    <div>
        {{ form_label(form.CampaignName) }}
        {{ form_widget(form.CampaignName, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.CampaignName) }}
    </div>
    <div>
        {{ form_label(form.Description) }}
        {{ form_widget(form.Description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.Description) }}
    </div>
    <div>
        {{ form_label(form.Budget) }}
        {{ form_widget(form.Budget, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(form.Budget) }}
    </div>
    <div>
        {{ form_label(form.Image) }}
        {{ form_widget(form.Image, { 'attr': {'class': 'form-control'} }) }}
        {{ form_errors(  form.Image) }}
    </div>

    <button type="submit" class="btn btn-primary">Create Campaign</button>
    {{ form_end(form) }}
{% endblock %}

